<h1> Admin Dashboard Page </h1>
<p> Welcome <%=@dashboard.user_email%>! </p>

<hr>

<section>
<%=link_to 'Locations' %>

  <h3>Add Location</h3>

  <%=form_for @dashboard.location do |t|%>
    <div>
      <%=t.label :name, "City:  "%>
      <%=t.text_field :name%>
    </div>
    <div>
      <%=t.label :state, "State: "%>
      <%=t.text_field :state%>
      <%=t.submit%>
    </div>
    <%end%>
</section>

<hr>

<section>
  <h3>Current Categories</h3>
  <ol>
    <%@dashboard.categories_names.each do |name| %>
      <li><%=name%></li>
    <%end%>
  </ol>

  <h3>Add Category</h3>
  <%= form_for @dashboard.category do |form| %>
    <%= form.label :name, "Category Name: " %>
    <%= form.text_field :name %>
    <%= form.submit %>
  <% end %>
</section>
